<h1>Edit a person</h1>

<div class="form">
  <%= form_tag(person_path(@person["id"]), :method => :patch) do %>
    <fieldset>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, @person["first_name"] %><br/>

      <%= label_tag :middle_name %>
      <%= text_field_tag :middle_name, @person["middle_name"] %><br/>

      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, @person["last_name"] %><br/>

      <%= label_tag :suffix %>
      <%= text_field_tag :suffix, @person["suffix"] %><br/>

      <%= label_tag :email %>
      <%= text_field_tag :email, @person["email"] %><br/>

      <%= label_tag :phone %>
      <%= text_field_tag :phone, @person["phone"] %><br/>

      <%= submit_tag "Update Person" %>
    </fieldset>
  <% end %>
</div>