<h1><%= @person.full_name %></h1>
<h2>Email: <%= @person.email %></h2>
<h3>Phone: <%= @person.phone %></h3>

<%= link_to "Edit", edit_person_path(@person.id) %>
<%= link_to "Delete", person_path(@person.id), :method => :delete %>
