<h1><%= @person["first_name"] %> <%= @person["middle_name"] %> <%= @person["last_name"] %> <%= @person["suffix"] %></h1>
<h2>Email: <%= @person["email"] %></h2>
<h3>Phone: <%= @person["phone"] %></h3>
